      @font-face {
      font-family: 'hmossans';
        src: url('https://zl.cn.eu.org/ttf/HarmonyOS_Sans_Light.ttf') format('truetype');
      }
        {
  font-family: 'hmossans', sans-serif;
}
              body {
            margin: 0;
            padding: 0;
        }
        .header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.8);
            backdrop-filter: blur(10px);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .logo {
            height: 50px;
            animation: fadeIn 0.5s ease-in-out; 
            
        }
        .button {
            background-color: #0078d4;
            color: white;
            border: none;
            border-radius: 4px;
            padding: 8px 16px;
            font-size: 16px;
            cursor: pointer;
        }
        .button:hover {
            background-color: #005a9e;
        }
.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999
}


/* Reset styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Global styles */
body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	background-color: #f5f5f5;
}

a {
	text-decoration: none;
	color: #333;
	font-family: 'hmossans', sans-serif;
}

ul {
	list-style: none;
}



/* Banner styles */
#banner {
	background-image: url(https://s11.ax1x.com/2024/01/25/pFmA9eS.png);
	background-size: cover;
	background-position: left center;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	animation: fadeIn 0.9s ease-in-out;
}

@keyframes fadeIn {
  5% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



#banner h1 {
    font-size: 50px;
    background-image: linear-gradient(to right, #198eff, #00ffff);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 0px;
    font-family: 'hmossans', sans-serif;
}

#banner h3 {
    font-size: 15px;
    background-image: linear-gradient(to right, #088eff, #00ffff);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 40px;
    font-family: 'hmossans', sans-serif;
}

#banner p {
	font-size: 24px;
	color: #fff;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
	margin-bottom: 40px;
	    font-family: 'hmossans', sans-serif;
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	background-color: #0078d7;
	color: #fff;
	border-radius: 5px;
	font-weight: bold;
	text-transform: uppercase;
	transition: all 0.3s ease;
}

.btn:hover {
	background-color: #0078d7;
	cursor: pointer;
}

/* Introduction styles */
#introduction {
	padding: 50px;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	margin-top: 50px;
}

#introduction h2 {
	font-size: 36px;
	color: #333;
	margin-bottom: 20px;
    font-family: 'hmossans', sans-serif;
}

#introduction p {
	font-size: 18px;
	color: #666;
	line-height: 1.8;
	margin-bottom: 20px;
	    font-family: 'hmossans', sans-serif;
}

/* 新闻（News）styles */
#news {
	padding: 50px;
	background-color: #f5f5f5;
	margin-top: 50px;
}

#news h2 {
	font-size: 36px;
	color: #333;
	margin-bottom: 20px;
	    font-family: 'hmossans', sans-serif;
}

#news ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#news li {
	width: calc(33.33% - 20px);
	margin-bottom: 20px;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#news li img {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

#news li h3 {
	font-size: 24px;
	color: #333;
	margin: 20px;
	    font-family: 'hmossans', sans-serif;
}

#news li p {
	font-size: 18px;
	color: #666;
	line-height: 1.8;
	margin: 20px;
	    font-family: 'hmossans', sans-serif;
}

/* Download styles */
#download {
	padding: 50px;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	margin-top: 50px;
}

#download h2 {
	font-size: 36px;
	color: #333;
	margin-bottom: 20px;
	    font-family: 'hmossans', sans-serif;
}

#download p {
	font-size: 18px;
	color: #666;
	line-height: 1.8;
	margin-bottom: 20px;
	    font-family: 'hmossans', sans-serif;
}

#download ul {
	display: flex;
	justify-content: center;
	align-items: center;
}

#download li {
	margin-right: 20px;
}

#download li:last-child {
	margin-right: 0;
}

#download li img {
	width: 150px;
	height: 50px;
	object-fit: contain;
}



/* Footer styles */
    footer {
      background-color: #333;
      padding: 20px;
      color: #fff;
      font-size: 14px;
    }
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .logo img {
      max-width: 150px;
    }
    .links h3 {
      margin-bottom: 10px;    
      font-family: 'hmossans', sans-serif;
    }
    .links ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .links li {
      margin-bottom: 5px;
    }
    .links a {
      color: #fff;
      text-decoration: none;
      }
    .copyright {
      margin-top: 20px;
    }
    .license a {
      color: #fff;
      text-decoration: none;
    }

/* 文字动画 */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px); /* 移动参数 */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* 回到原来的位置 */
    }
}

/* 将动画应用到文本元素上 */
.animated-text {
    animation: fadeIn 0.7s ease-in-out; /* 动画名称、持续时间、缓动函数 */
}

/* 图片动画 */


/* 将动画应用到图片元素上 */
.animated-image {
    animation: fadeIn 0.5s ease-in-out; /* 动画名称、持续时间、缓动函数 */
}


/* 定义整个播放器的样式 */
.player {
    margin-top: 50px; /* 距离上方50px */
    height: 350px; /* 高度为350px */
    width: 800px; /* 宽度为800px */
    background-color: rgba(216, 218, 221, 0.5); /* 背景颜色为rgba(216, 218, 221, 0.5) */
    border-radius: 10px; /* 边框半径为10px */
}
 
/* 定义封面的样式 */
.player .cover {
    display: inline-block; /* 内部元素呈现为块级元素 */
    height: 250px; /* 高度为250px */
    width: 250px; /* 宽度为250px */
    margin-left: 30px; /* 距离左侧30px */
    margin-top: 30px; /* 距离上方30px */
    overflow: hidden; /* 溢出部分隐藏 */
    border-radius: 10px; /* 边框半径为10px */
}
 
/* 定义歌曲信息的样式 */
.song {
    position: absolute; /* 绝对定位 */
    margin-left: 50px; /* 距离左侧50px */
    margin-top: 20px; /* 距离上方20px */
    left: 250px; /* 左侧距离为250px */
    top: 150px; /* 上方距离为150px */
    height: 250px; /* 高度为250px */
    width: 400px; /* 宽度为400px */
    overflow: auto; /* 溢出部分自动滚动 */
}
 
/* 隐藏滚动条 */
div::-webkit-scrollbar {
    display: none;
}
 
/* 定义p标签的字体样式 */
.song p {
    font-family: "楷体";
    margin: 5px; /* 上下左右各留出5px的间距 */
}
 
/* 定义h2标签的字体样式 */
.song h2 {
    font-family: "楷体";
}
 
/* 设置音频样式 */
audio {
    width: 100%; /* 宽度为100% */
    height: 50px; /* 高度为50px */
    border-radius: 10px; /* 边框半径为10px */
}
 
/* 设置音频播放进度条的颜色 */
audio::-webkit-media-controls-progress-bar {
    background-color: #000;
}
 
/* 定义播放器的背景颜色 */
.player {
    /* background: linear-gradient(to bottom, #304352, #d7d2cc); */
    background-color: rgba(238, 238, 238, 0.2); /* 背景颜色为rgba(238, 238, 238, 0.2) */
}
 
/* 隐藏音频播放器的背景颜色 */
audio::-webkit-media-controls-enclosure {
    background-color: rgba(216, 218, 221, 0.0);
}

/*更多的杂乱不堪的css*/

        
                .orientation-tip {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 50px;
            background-color: red;
            color: white;
            text-align: center;
            line-height: 50px;
            z-index: 9999;
        }
        
        .carousel {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 300px;
        }
        .carousel ul {
            position: absolute;
            list-style: none;
            margin: 0;
            padding: 0;
            width: 300%;
            height: 100%;
            transition: all 1s;
        }
        .carousel li {
            float: left;
            width: 33.33%;
            height: 100%;
        }
        .carousel img {
            width: 100%;
            height: 50%;
        }
        
            footer {
      background-color: #333;
      padding: 20px;
      color: #fff;
      font-size: 14px;
    }
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .logo img {
      max-width: 180px;
    }
    .links h3 {
      margin-bottom: 10px;
          font-family: 'hmossans', sans-serif;
    }
    .links ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .links li {
      margin-bottom: 5px;
    }
    .links a {
      color: #fff;
      text-decoration: none;
          font-family: 'hmossans', sans-serif;
    }
    .copyright {
      margin-top: 20px;
    }
    .license a {
      color: #fff;
      text-decoration: none;
          font-family: 'hmossans', sans-serif;
    }
    h1 {
	text-decoration: none;
	color: #333;
	font-family: 'hmossans', sans-serif;
}






*更多*
	body {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
			margin: 0;
		}
		.button {
			display: inline-block;
			padding: 20px 40px;
			font-size: 24px;
			text-align: center;
			text-decoration: none;
			color: #FFFFFF;
			background-color: #6750a4; /* 莫兰迪取色 */
			border-radius: 12px;
			margin: 0 10px;
		}
		.button:hover {
			background-color: #5C6BC0;
		}
		.icon {
			margin-right: 10px;
		}
		.subtitle {
			font-size: 16px;
			color: #999999;
		}